*.sql linguist-detectable=true

<jsp-config>
    <taglib>
        <taglib-uri> http://company.xyz/jsp/tlds/customtags </ taglib-uri>
        <taglib-location> /WEB-INF/exampleTag.tld </ taglib-location>
    </ taglib>
</ jsp-config>
